h1, h2, h3 , p {
    text-align: center;
}

body {
    margin: 0px 0px 0px 0px;
    background-image: url("fondo.jpg");
    width: 100%;
    height: 100%;

}

h3 {
    color: #028002;
}

#black {
    color: black;
}

#teal {
    color: #018182;
}

#blue {
    color: #0000fe;
}

#navy {
    color: #020181;
}

#lime {
    color: #00ff01;
}

#white {
    color: #ffffff;
}

#purple {
    color: #7f017f;
}

#yellow {
    color: #ffff00;
}